* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: aqua;
} 

.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 100px 320px 400px 100px
}
.container :nth-child(1) {
  background-color: green;
}

.container :nth-child(2) {
  background-color: blue;
}
.container :nth-child(3) {
  background-color: yellow;
}
.container :nth-child(4) {
  background-color: brown;
  
}

/* header section */
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}